@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
.caja {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.texto1 {
    width: 33%;
    position: relative;
    font-family: 'Estonia', cursive;
  }
.texto2 {
    width: 33%;
    position: relative;
    font-family: 'Comforter', cursive;
  }
.texto3 {
    width: 33%;
    position: relative;
    font-family: 'Lobster', cursive;
  }    
.texto4 {
    width: 33%;
    position: relative;
    font-family: 'Dancing Script', cursive;
  }
.texto5 {
    width: 33%;
    position: relative;
    font-family: 'Comforter Brush', cursive;
  }
.texto6 {
    width: 33%;
    position: relative;
  }   
.texto7 {
    width: 33%;
    position: relative;
  }
.texto8 {
    width: 33%;
    position: relative;
  }
.texto9 {
    width: 33%;
    position: relative;
  }   