header{
    
    padding: 0;
    text-align: center;
    
    
}
h2{
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    padding-left: 100px;
}
p{
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    padding-left:100px;
    padding-right: 100px;
    line-height : 25px;

    
}
.capitalLetter
{
   float:left;
   color:black;
   font-size:140px;
   line-height:70px;
   font-family: Helvetica, sans-serif, Arial,;
   font-weight: 700;
   padding-top: 15px;
   padding-right: 10px;
}
main{
    margin-top: 0;
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    padding-top:0px ;
    
    
}
h1{
    font-family:  'Times New Roman', Times, serif;
    text-align: center; 
    font-size: 60px;
    font-weight: 500;

}
.subtitulo li{
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height : 25px;
}
.subtitulo{
    list-style: none;
}
img {
    display:block;
    margin:auto;
    }
body{
    margin: 0px;
}
footer{
    padding-top:  0px;
    padding-bottom: 0px;
    background-color: rgb(223, 221, 221);
    margin-left: 440px;
    margin-right: 440px;
    margin-top: 20px;
    margin-bottom: 400px;

}
.ultimalista{
    display: flex;
    list-style: none;

}
.ultimalista li{
    display: inline;
}